{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Thanks</title>
    <link rel="stylesheet" href="C:/Users/Sumeet/Desktop\Melanoma2 - Copy/static_cdn/css/bootmin.css">
    <link rel="stylesheet" href="C:/Users/Sumeet/Desktop\Melanoma2 - Copy/static_cdn/css/styles.css">
</head>

<body>
    <h1 class="submission">Thanks for submitting, check your email to see results.<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>&nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Click here to submit again</h1><a href = '/'><button class="btn btn-primary" type="button">Submit Again</button></a><img class="bac" src="https://cdn.pixabay.com/photo/2020/04/18/18/43/background-5060537_960_720.png">
    <script
        src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>